@import "../../style/_layout.scss";
@import "../../style/colors";

.modal__container {
    padding: 50px;
    background-color: $base-color;
    border-radius: 10px;
    position: relative;
    z-index: 1000;
    @include flex-center-content;
}
