@import "../../style/_layout.scss";
@import "../../style/colors";

.modal__container {
    @include flex-center-content;
    height: 100vh;

    &-content {
        padding: 50px;
        background-color: $base-color;
        border-radius: 10px;
        position: relative;
        @include flex-center-content;
    }
}
