.avatar {
    width: 55px;
    height: 55px;
    cursor: pointer;
    margin: 32px;

    
    &__image-wrapper {
        width: inherit;
        height: inherit;
        margin: 0;
        
        & img {
            width: inherit;
            height: inherit;
        }
    }
    
    & .title {
        color: white;
        margin: 26px 0;
    }
}